
ul 
{
    border:1px solid blue;
    border-radius: 20px;
    display: flex;
    width: 80%;
    padding:20px;

}

ul h4{
    width:25%;
    vertical-align: top;
}

ul li {
    padding:5%;
    list-style-type: none;
    border-right: 1px solid;
}

ul>:last-child
{
    border-right: 0;
}

li h5{

}